<html>
    <head></head>
        <body>
            <table border="1">
                <tr>
                    <td>UserName</td>
                    <td><input type="text" name="txtUser"/></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="txtPass"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Login"/></td>
                </tr>

            </table>
        </body>
</html>